<!DOCTYPE html>
<html>
  <head>
    <<title>Belleza | Landing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base_styles.css">
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    <div class="wrapper">
    	<div class="container">
    		<h1>Landing</h1>

    		<form class="form">
    			<button id="current"  type="button" onclick="location.href='{{url_for('status',real=false)}}'">Current Live Status</button>
    			<button id="current new">New Appointment</button
    		</form>
    	</div>
    	<!--ul class="bg-bubbles">
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    	</ul-->
    </div>
  </body>
</html>
