<!DOCTYPE html>
<html>
  <head>
    <<title>Belleza | Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base_styles.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/status.css">


  </head>
  <body>
    <div class="wrapper">
    	<div class="container">
    		<h1>Landing</h1>

    		<form class="form">
    			<ul>
            <li class="seats booked" id="seat1">1</button><br>
            <li class="seats" id="seat2">2</button><br>
            <li class="seats booked" id="seat3">3</button><br>
          </ul>
          <br>
          <h3><span class="nseat">1</span> Seats left</h3>
          <ul>
            <li class="button_book" id="b1">Book Now</button>
            <li class="button_book" id="b2">Book For Later</button><br>
          </ul>


        </form>
    	</div>
    	<ul class="bg-bubbles">
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    	</ul>
    </div>
  </body>
</html>
