{% extends "layout.html" %}

{% block content %}
<div class="container">


  <form class="form" method="post" action="{{url_for('adminlogin')}}">
    <h1>Sign In</h1><br>
    <h6>Use your Admin credentials to access and manage Belleza web app</h6>

  </br><input type="text" name="username" placeholder="Username">
    </br>
  </br><input type="password" name="password" placeholder="Password">
    </br></br>
    <button type="submit" id="login-button">Book</button>

  </form>

</div>
{% endblock %}
