{% extends "layout.html" %}

{% block content %}
<div class="container">


  <form class="form" method="post" action="/book">

    <h1>Book an Appointment</h1>
    </br>
    <h3>Services</h3>
    </br>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Services
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        li>HairCut</li>
        <li>Face Wash</li>
        <li>Waxing</li>
        <li>Detan</li>
        <li>Shaving</li>
      </ul>

    </div>
    </br>
    <h3>Date</h3>
    </br><input type="text" name="date" placeholder="yyyy-mm-dd">
    </br>
    <h3>Time</h3>
    </br><input type="text" name="time" placeholder="hh:00">
    </br></br>
    <button type="submit" id="login-button">Book</button>

  </form>

</div>
{% endblock %}
