{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/styles.css">
<link rel="stylesheet" href="../static/css/base_styles.css">
<!-- <button class="log" type="submit">Logout</button> -->
<div class="container">
  <h1>Landing</h1>

  <form class="form">
    <button id="current" type="button" onclick="location.href='{{url_for('status',real='True')}}'">Current Live Status</button>
    <button id="current" type="button" onclick="location.href='{{url_for('booking')}}'">New Appointment</button>
    <br>
    {% if not session['access_token'] %}
    <button type="button" onclick="location.href='{{url_for('login')}}'" id="log-btn">Login</button>
    {% else %}
    <button type="button" onclick="location.href='{{url_for('myBooking')}}'" id="log-btn">My Bookings</button>
    <button type="button" onclick="location.href='{{url_for('logout')}}'" id="log-btn">Logout</button>
    {% endif %}
  </form>
</div>

{% endblock %}
